/* Configuração padrão */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    background-color: #2c2c2c; /* Cinza escuro */
    font-family: Arial, sans-serif; /* Fonte geral */
    color: #f2f2f2; /* Cor do texto em um cinza claro */
    margin: 0;
    padding: 0;
    height: 100%;
  /* Evitar overflow:hidden aqui, a menos que seja necessário */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* tela celular  */
@media  (max-width:767px) {


  /* Estilos para telas a partir de 576px */
  .principal {
    max-width: 100%; /* Ajuste a largura para telas entre 801px e 1199px */
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
  }
  
  header {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 10px 15px;
    z-index: 1000;
    background-color: black;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
  }

  /* .cabecalho  h1  {
    padding: auto;
    font-size: 14px; 
    
  } */

  .conteiner-header {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .menu li { 
    position:relative;
    top: 10px;
    display:inline;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .menu li a {
    color:#fff;
    text-decoration: none;


  }

  #menu li a:hover  {
    color: rgb(206, 211, 215);
    text-decoration: none;
  }

  .cabecalho {
    display: flex;
    padding: 10px;
  }
  
  .conteudoImg h2{
    align-items: center;
    
    padding: 10px;
    position: relative;
    font-size: 28px;
    margin-bottom:15px ;
  }

  .conteiner img {
    width:100%;
    max-width: 100%;
    height: auto;
    margin-top: 20px;

  }

  .conteudoImg {
    margin: auto 0;
    text-align: center;
  }

  .conteudoImg p,h2 {
    text-align: center;
    font-size: 16px;
    
  }

  .conteudoImg .h2 {
    position: relative;
    top:20px;
    margin: auto 0;
  }

  .conteudoImg p{
    margin-top: 10px;
  }


  .listaProdutos {
    display: flex;
    flex-wrap: wrap; /* Faz com que os produtos se ajustem melhor em telas menores */
    justify-content: space-around; /* Alinha os produtos de maneira uniforme */
  }

  #list-productsprodutos {
    width: 100%;
    position: relative;
    top: 55px;
    margin-left: 10px;
  }

  article {
    background-color: #f5f5f5; 
    margin: 20px;
    padding: 20px;
    border-radius:8px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    max-width: 100%;
    align-items:center;
  }
  
  article:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px rgba(0, 0, 0, 0.3);
  }

  .product-title {
    font-size: 18px;
    color: #333;
    margin-bottom:10px ;
  }

  .product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  } 

  .product-price {
    font-size: 24px; 
    font-weight: bold;
    color:#010101 ;
    margin: 0;
    padding: 10px 0;
    border-top:2px solid #ddd ;
    display: inline-block;
  }

  article img {
    width: 400px;
    max-width:100%;
    margin: 0 auto;
    position: relative;
  }



  .H2Titulo  .h2{
    position: relative;
    right: 10px;
    top: 2px;
    font-size:28px ;
  }

  .customBtn  {
    display: block;
    align-items: center; 
    white-space: nowrap; 
    margin: 0 auto;
    text-align: center;


  }
  .price-conteiner{
    display:inline-block ;
  }

  .customBtn span {
    font-size: 15px ;
    display: block;
    
  }
}
/* tela tablet */
@media (min-width: 768px) and  (max-width:1024px){
    /* para tablets em modo  paisagem */
  .principal {
    max-width: 1000px; /* Ajuste a largura para telas entre 801px e 1199px */
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 1900px;
  }
  
  header {
    position: fixed;
    width: 100%;
    max-width: 1024px;
    padding: 10px 15px; /* Pode ajustar o padding para telas menores */
    z-index: 1000;
    background-color: black;
    color: aliceblue;
    display: flex;
    margin: 0 auto;
  }

  .conteiner  {
    display: flex;
  }

  .conteiner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu li {   
    font-size: 18px;
    display:inline;
    list-style: none;
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
  }

  .menu li a  {
    text-decoration: none;
    color: #fff;
  } 

  .menu li:hover  {
    color: aliceblue;
    text-decoration: none;
  }

  #sobre-loja {
    display: inline-flex;
  }

  .conteiner img {
    margin-top: 20px;
    margin-left: 0px;
    max-width: 50%;
    height: auto;
    position: relative;
    top: 20px;    
  }

  .conteudoImg {
    position: relative;
    right: 190px;
    top: 70px;
  }

  .conteudoImg p {
    position: relative;
    max-width: 100%;
    color: rgb(20, 20, 20);
    font-size: 16px;
    left: 210px;
    top: 5px;
  }

  .conteudoImg h2 {
    overflow: hidden;
    width: 200px;
    padding: 10px;
    position: relative;
    font-size: 24px;
    left: 280px;
    top: 20px;
    margin-bottom:15px ;
  }

  .listaProdutos {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap; /* Faz com que os produtos se ajustem melhor em telas menores */
    justify-content: space-around; /* Alinha os produtos de maneira uniforme */
    
  }

  #list-products {
    max-width: 1024px;
    position: relative;
    top:50px;
    margin-left: 10px;
  }

  #list-products h2 {
    position: relative;
    margin: 10px auto auto 10px;
    top: 11px; 
  }

  article {
    
    width: 48%;
    padding: 15px;
    /* box-sizing: border-box; */
  }
  
  article img {
    position: relative;
    width: 400px;
    max-width: 100%;
  }

  .product-title  {
    position: relative;
    right: 10px;
    top: px;
    font-size: 20px;
    margin-top: 10px;
    color: #333;
    
  }

  .product-description {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
  } 

  .product-price {
    font-size: 34px; 
    font-weight: bold;
    color:#010101 ;
    margin: 0;
    padding: 10px 0;
    border-bottom:2px solid #ddd ;
    display: inline-block;
  }

  .btn { padding: 5px 10px; /* Reduz o padding para deixar o botão mais fino */
    font-size: 14px; /* Ajuste o tamanho do texto se necessário */
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    position: relative;
    left: 20px;
  }
  .customBtn span {
    position: relative;
    font-size: 16px;
  }

  .price-conteiner {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    padding: 10px auto auto 10px;
    

  } 

}
/* tela desktop */
@media (min-width:1025px) {
  .principal {
    margin: 0 auto;
    padding:0;
    background-color: rgb(255, 255, 255);
    
  }
  
  header {
    width:100%;
    box-sizing: border-box;
    max-width:100%;
    position: fixed;
    padding: 10px 20px;
    z-index: 1000;
    background-color: rgb(10, 9, 9);
    color: aliceblue;
    display: block;
    margin:  0;
}

.conteiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li { 
  display:inline;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  
  
}

#menu li:hover  {
  color: aliceblue;
  text-decoration: none;
}


  .cabecalho {
  
    justify-content: space-between;
    display: flex;
  }

  .conteiner img {
    margin-top:36px ;
    margin-left: 10px;
    bottom: 30px;
    width: 400px;
    position: relative;
    top: 40px;
}
  .conteudoImg {
    font-size: 28px;
    right: 580px;
    top: 90px;
    display: flex;
    position: relative;
    
    
  }

  .conteiner  {
    display: flex;

  }
  .conteudoImg p {
    display: flex;
    position: relative;
    color: rgb(20, 20, 20);
    font-size: 18px;
    width: 450px;
    left: 450px;
    top: 40px;
    }
  
  .conteudoImg h2  {
    display: flex;
    position: relative;
    font-size: 25px;
    left: 609px;
    
  }

  nav li a {
    color: aliceblue;
    text-decoration: none;
  }

  nav li {
    list-style-type: none;
  }

  .sobre-loja {
    display: flex;
  }

  section#list-products img {
    display: flex;
    max-width: 250px;
  }

  .listaProdutos {
    margin-top: 30px;
    max-width: 100%;
    display: flex;
  }

  article {
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  article img {
    position: relative;
    right: 10px;
    width: 450px;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .product-title  {
    position: relative;
    right: 35px;
    font-size: 20px;
    bottom: 13px;
    color: #333;
    
  }

  .product-description {
    margin-left: 15px;
    text-align: left;
    font-size: 16px;
    color: #666;
    position: relative;
    bottom:20px ;
    right: 19px;
  } 

  .product-price {
    
    font-size: 25px; 
    font-weight: bold;
    color:#010101 ;
    margin: 0;
    padding: 10px 0;
    border-bottom:2px solid #ddd ;
    display: inline-block;
  }
  
  .btn {
    width:200px ;
    max-width: 100%;
    padding: 5px 10px; /* Reduz o padding para deixar o botão mais fino */
    font-size: 14px; /* Ajuste o tamanho do texto se necessário */
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    position: relative;
    left: 20px;
  }
  .customBtn span {
    position: relative;
    font-size: 15px;
  }

  .price-conteiner {
    right: 22px;
    position: relative;
    bottom: 35px;
    margin-bottom: 70px;
    display: block;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    padding: 10px auto auto 10px;
    font-size: 18px;
  } 

  .linhaProduct {
    width: 100%;
    position: relative;
    bottom: -28px;
    border-radius: 3px;
  }

  #list-products {
    margin-left:10px ;
    position: relative;
    margin-top: 0px;
    top: 60px;
  }

  .h2Titulo h2 {
    margin-left: 15px;
    position: relative;
    margin-bottom: -10px;
    bottom: -20px;
    font-size: 26px;
    color: rgb(15, 16, 16);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  .btn  {
    position: relative;
    right: 5px;
  }
}


